<html>
    <head>
        <title>Jesus Thanks You</title>
    </head>
    <body>
        <div>
            Thank you <%= contact.firstName %> <%= contact.lastname %>
        </div>
    </body>
</html>